.Link {
  cursor: pointer;
  font-size: 16px;
  transition: font-size 300ms;
  font-family: 'Inter', sans-serif;
  white-space: nowrap;
  color: #000;
}
.Link:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: black;
}
